h1 { 	

	border-radius: 25px;
	font-size: 2rem; 
	background-color: rgb(174, 0, 255);
	///color: black;
	color: white;
	width: auto;
	padding-left: 20px;
	width: 80%;
 
}


h2 { 	
	font-size: 1.75rem;  
	color:black;
	padding-left: 20px;
	border-left: 1px solid rgb(174, 0, 255);
	// background-color: lightblue;
   }

//.summary h2
//  {
	//	border-radius: 25px;
	//	font-size: 2rem; 
	//background-color: rgb(174, 0, 255);
	//color: white;
	//width: auto;
	//padding-left: 20px;
	// }
   


h3 { 
	padding-left: 20px;
	font-size: 1.5rem; 
        border-left: dotted rgb(174, 0, 255);
	color: black;
   }
h4 { font-size: 1.25rem; }
h5 { font-size: 1.1rem; }
h6 { font-size: 1rem; }

h2 em, h3 em{
	color:grey;
}

img {
  width: 50%;
  height: auto;
}


.intro
{
  border-radius: 25px;
  ///border: 2px solid rgb(174, 0, 255);
  border-left: 1px solid rgb(174, 0, 255);
  padding-left: 50px; 
  padding-right: 20px; 
  ///padding-top: 20px; 
  padding-bottom: 10px; 
  width: 80%;
  height: auto;  
  background-color: rgb(253, 248, 255);
}

.toc
{
  border-radius: 25px;
  //border: 2px solid rgb(174, 0, 255);
  border-left: 1px solid rgb(174, 0, 255);
  padding-left: 50px; 
  width: 80%;
  height: auto;  
  //background-color: solid rgb(174, 0, 255);
}

.summary
{
  border-radius: 25px;
  ///border: 2px solid rgb(174, 0, 255);
  border: 1px solid rgb(174, 0, 255);
  ///border: 1px solid rgb(0, 0, 0);
  ///border-left: dotted rgb(174, 0, 255);
  padding-left: 50px; 
  width: 80%;
  height: auto;  
  color: black;
  background: url("assets/images/coil35.png");
  background-repeat: repeat-y;
  background-color: rgb(240, 227, 255);
  //hex background-color #F0E3FF;
  //hex border-color  #AE00FF;

}



.summary ul {
	list-style-image: url('assets/images/right_arrow.png');
  }


.sum
  {
	//border-radius: 25px;
	//border: 2px solid rgb(174, 0, 255);
	border-left: 1px solid rgb(174, 0, 255);
	//border: 2px solid rgb(0, 0, 0);
	padding-left: 50px; 
	width: 80%;
	height: auto;  
	color: black;
  //  background-color: rgb(174, 0, 255);
  }
  
  body{
    //background-image: url("assets/images/coil2.png");
    //background-repeat: repeat-y;
  
  }
  
  
.sum ul {
	  list-style-image: url('assets/images/right_arrow.png');
	}