h1 { 	
	font-size: 2rem; 
	background-color: rgb(174, 0, 255);
	color: black;
   }
h2 { 	
	font-size: 1.75rem;  
	color:black;
	padding-left: 20px;
	 border-left: solid rgb(174, 0, 255);
	// background-color: lightblue;
   }
h3 { 
	padding-left: 20px;
	font-size: 1.5rem; 
        border-left: dotted rgb(174, 0, 255);
	color: black;
   }
h4 { font-size: 1.25rem; }
h5 { font-size: 1.1rem; }
h6 { font-size: 1rem; }

h2 em, h3 em{
	color:grey;
}
